@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

body {
color: #444444;
font-family: "Lucida Console", Arial, sans-serif;
margin: 0px;
padding: 0px;
background-color: #e6ffe6;
}

.form {
  padding-top: 200px;
  text-align: center;
  padding-left: 600px;
}

#page-wrap {
	width: 660px;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 500px;
	height: auto !important;
	height: 500px;
}

#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}

.menu {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	border-bottom: 2px solid #ffffff;
	background: #e6e6e6;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.menu li {
	display: inline-flex;;
}

.menu a {
	text-decoration: none;
	color: #666699;
	font-weight: bold;
	text-transform: uppercase;
}

#footer {
  text-align: center;
  color: #00ace6;
  padding-bottom: 50px;
}
a {
  text-decoration: underline;
  color: #ac3939;
}
a:hover {
  color: blue;
  text-shadow: 1px 1px #666699;
}



body ul li a {
  display: block;
  text-align: center;
  width: 70px;
  height: 60px;
  border: 1px;
  box-sizing: border-box;
}

.menuText {
  padding-top: 20px;

}

#active {
  background-color: #8c8c8c;
}
